# Python
__pycache__/
*.pyc

# (optioneel) virtuele omgeving
.venv/
venv/

# PyInstaller / build artefacts
build/
dist/
*.spec
*.log

# Lokale runtime data (scores persoonlijk)
assets/score/scores.json

# OS/Editor rommel
.DS_Store
Thumbs.db
